language: go

go:
  - "stable"
  - "master"

env:
  global:
    - GO111MODULE=on
  matrix:
    - GOFLAGS=
    - GOFLAGS=-mod=vendor
matrix:
  exclude:
    - go: "master"
      env: GOFLAGS=-mod=vendor
  fast_finish: true
  allow_failures:
    - go: "master"
    - env: GOFLAGS=


services:
  - docker

install:
  - bash tests/prepare.sh

script:
  - go test -v -covermode=count -coverprofile=coverage.out ./...

after_script:
  # Install and upload test coverage must not failure for test build
  - go get -mod= golang.org/x/tools/cmd/cover
  - go get -mod= github.com/mattn/goveralls
  - goveralls -coverprofile=coverage.out -service=travis-ci -repotoken $COVERALLS_TOKEN
