name: Test
on: [push, pull_request]
jobs:
  test-build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2

      - name: test-build
        run: bash ./tests/build-test.sh

  run-test:
    needs: test-build
    runs-on: ubuntu-20.04
    env:
      GO_VERSION: "1.18"
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Test
        run: bash ./tests/test.sh

      - name: push coverage
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: coverage.out
